    <form method="POST" action="">
                  {% csrf_token %}
                  <div class="card">
                    <div class="card-header">Form for Initialization</div>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="id_source">Source</label>
                        {{ initial_form.source }}
                      </div>

                      <div class="form-group">
                        <label for="id_information_source">Information Source</label>
                        {{ initial_form.information_source }}
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mt-1" name="initial_form">
                    Submit to Next Proccess
                  </button>
    </form>