{% extends 'dashproject/base/layout.html' %} {% load static %} {% block content%}
<!-- <script type = "text/javascript" >
    function preventBack(){window.history.forward();}
     setTimeout("preventBack()", 0);
     window.onunload=function(){null};
 </script> -->

<div class="container-fluid">
  {%include './report_header.html'%}
  <!-- Tab content -->
  <div class="row content-home">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="container mt-4">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'initial' or not request.GET.tab %}active {% endif %}"
                  id="initial-tab" data-toggle="tab" href="#initial" role="tab" aria-controls="initial"
                  aria-selected="true">
                  <span class="d-block"><i class="fa fa-info"></i></span>
                  <span class="d-block">Initial</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'subjects' %}active{% endif %}" id="subjects-tab"
                  data-toggle="tab" href="#subjects" role="tab" aria-controls="subjects" aria-selected="false">
                  <span class="d-block"><i class="fa fa-people-carry" aria-hidden="true"></i></span>
                  <span class="d-block">Subjects</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'text' %}active{% endif %}" id="text-tab" data-toggle="tab"
                  href="#text" role="tab" aria-controls="text" aria-selected="false">
                  <span class="d-block"><i class="fa fa-address-book" aria-hidden="true"></i></span>
                  <span class="d-block">Text</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'attach' %}active{% endif %}" id="attachment-tab"
                  data-toggle="tab" href="#attachment" role="tab" aria-controls="attachment" aria-selected="false">
                  <span class="d-block"><i class="fa fa-file" aria-hidden="true"></i></span>
                  <span class="d-block">Attachment</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'comments' %}active{% endif %}" id="comment-tab"
                  data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">
                  <span class="d-block"><i class="fa fa-comment" aria-hidden="true"></i></span>
                  <span class="d-block">Analyst Comment</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'review' %}active{%else%}disabled{% endif %}"
                  id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                  aria-selected="false">
                  <span class="d-block"><i class="fa fa-ad" aria-hidden="true"></i></span>
                  <span class="d-block">Review</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.GET.tab == 'disseminate' %}active{%else%}disabled{% endif %}"
                  id="dissemination-tab" data-toggle="tab" href="#dissemination" role="tab"
                  aria-controls="dissemination" aria-selected="false">
                  <span class="d-block"><i class="fa fa-fan" aria-hidden="true"></i></span>
                  <span class="d-block">Dissemination</span>
                </a>
              </li>
              <!-- Add other tabs here -->
            </ul>

            <!-- Tab content -->
            <div class="tab-content" id="myTabContent">
              <!-- Initial Form -->
              <div
                class="tab-pane fade {% if request.GET.tab == 'initial' or not request.GET.tab %}show active{% endif %}"
                id="initial" role="tabpanel" aria-labelledby="initial-tab">
                <form method="POST" action="">
                  <div class="card">
                    <div class="card-header">Form for Initialization</div>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="id_source">Source</label>
                        {{ initial_form.source }}
                      </div>

                      <div class="form-group">
                        <label for="id_information_source">Information Source</label>
                        {{ initial_form.information_source }}
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary mt-1 disabled" name="initial_form">
                        Submit to Continue
                      </button>
                    </div>
                  </div>

                </form>
              </div>

              <!-- Subject Form -->
              <div class="tab-pane fade {% if request.GET.tab == 'subjects' %}show active{% endif %}" id="subjects"
                role="tabpanel" aria-labelledby="subjects-tab">
                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="card">
                    <div class="card-header">Subject Form</div>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="">First Name</label>
                        {{ subject_form.first_name}}
                      </div>

                      <div class="form-group">
                        <label for="id_information_source">Last Name</label>
                        {{ subject_form.last_name}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Gender</label>
                        {{ subject_form.gender}}
                      </div>

                      <div class="form-group">
                        <label for="id_information_source">Place of birth</label>
                        {{ subject_form.pob}}
                      </div>

                      <div class="form-group">
                        <label for="id_information_source">Nick Name</label>
                        {{ subject_form.last_name}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Date of birth</label>
                        {{ subject_form.dob}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Nationality</label>
                        {{ subject_form.nationality}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Identification</label>
                        {{ subject_form.last_name}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">ID Number</label>
                        {{ subject_form.idNumber}}
                      </div>

                      <div class="form-group">
                        <label for="id_information_source">Home Address</label>
                        {{ subject_form.address}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Bussiness Name</label>
                        {{ subject_form.business_name}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Bussiness Address</label>
                        {{ subject_form.busaddress}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Bin or TIN</label>
                        {{ subject_form.bin_tin}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Telephone</label>
                        {{ subject_form.phone_num}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Description </label>
                        {{ subject_form.description_subject}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Conveyance</label>
                        {{ subject_form.coveyance}}
                      </div>
                      <div class="form-group">
                        <label for="id_information_source">Conveyance Description</label>
                        {{ subject_form.cov_description}}
                      </div>

                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-transparent mt-1 disabled" name="initial_form">
                        Back to previous
                      </button>
                      <button type="submit" class="btn btn-primary mt-1 disabled" name="subject_form">
                        Submit Subject Form
                      </button>
                    </div>
                  </div>

                </form>

              </div>

              <!-- Text Form -->
              <div class="tab-pane fade {% if request.GET.tab == 'text' %}show active{% endif %}" id="text"
                role="tabpanel" aria-labelledby="text-tab">
                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="">Text</label>
                    {{text_form.text}}
                  </div>
                  <div class="form-group">
                    <label for="">Information Source</label>
                    {{text_form.information_source}}
                  </div>
                  <div class="form-group">
                    <label for="">Source Evaluation</label>
                    {{text_form.source_evaluation}}
                  </div>

                  <button type="submit" class="btn btn-primary mt-1 disabled" name="text_form">Add New
                    text</button>
                  <a href="{%url 'report-list'%}" class="btn btn-warning mt-1 disabled">Terminate</a>
                  <button type="button" class="btn btn-warning disabled mt-1" id="goToNextStep">
                    <i class="fa fa-plus"></i> <span class="text-uppercase">Go to Next Step</span>
                  </button>
                </form>
                {%include './text_list.html'%}
              </div>

              <!-- File Form -->
              <div class="tab-pane fade {% if request.GET.tab == 'attach' %}show active{% endif %}" id="attachment"
                role="tabpanel" aria-labelledby="attachment-tab">
                <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ file_form.path }}
                  </div>

                  <button type="submit" class="btn btn-primary mt-1 disabled" name="file_form">
                    Upload File
                  </button>
                </form>
              </div>

              <!-- Comments Form -->
              <div class="tab-pane fade {% if request.GET.tab == 'comments' %}show active{% endif %}" id="comment"
                role="tabpanel" aria-labelledby="comment-tab">
                <form method="POST" action="">
                  {% csrf_token %} {%include './comments.html'%}
                </form>
              </div>

              <!-- Review Tab -->
              <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{%else%}disabled{% endif %}"
                id="review" role="tabpanel" aria-labelledby="review-tab">
                <!-- Add Review Content Here -->
              </div>

              <!-- Dissemination Tab -->
              <div class="tab-pane fade {% if request.GET.tab == 'disseminate' %}show active{% endif %}"
                id="dissemination" role="tabpanel" aria-labelledby="dissemination-tab">
                <!-- Add Dissemination Content Here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--This query is for hide and show text box in the intial form-->
<script>

  //funsaun atu retrieve media file husi database link.

  function fetchHotlineDetails(subjectId) {
    $.ajax({
      url: "/call-details/" + subjectId,
      method: "GET",
      success: function (data) {
        console.log("data Log", data);
        console.log("data path", data.file);
        const mediaPath = "/" + data.file;
        $("#idHotline").text(data.id)
        $("#audioSource").attr("src", mediaPath);
        $("#audioSource").attr("type", "audio/mpeg");
        $("#path").text(data.file);
        $("#music")[0].load();
      },
      error: function (error) {
        console.error("There was an error fetching the details.", error);
      }
    });
  }


  $(document).ready(function () {
    // Hide the textarea initially
    $("#id_information_source").hide();

    // Show/hide the textarea based on the selected option
    $("#id_source").change(function () {
      if ($(this).val() === "Information other") {
        $("#id_information_source").show();
      } else {
        $("#id_information_source").hide();
      }
    });

    // Trigger the change event on page load to handle the default selected option
    $("#id_source").trigger("change");
  });


  $('.toastrDefaultSuccess').click(function () {
    toastr.success('Comment has added.')
  });


</script>
{% endblock %}