{% extends 'dashproject/base/layout.html' %} {% load static %} {% block content%}

<!-- <script type = "text/javascript" >
    function preventBack(){window.history.forward();}
     setTimeout("preventBack()", 0);
     window.onunload=function(){null};
 </script> -->

<div class="container-fluid">
  {%include './report_header.html'%}
  <!-- Tab content -->
  <div class="row content-home">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="container mt-4">
            <!-- Nav tabs -->
            {% include './nav_tab.html' %}

            <!-- Tab content -->
            <div class="tab-content" id="myTabContent">

              <!-- Review Tab -->
              <!--Card for Initial Information-->
              <div class="card">
                <!--Start Card body from Initial-->
                <div class="card-body">
                  <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{% endif %}" id="review"
                    role="tabpanel" aria-labelledby="review-tab">
                    <div>
                      <h4 class="text-mute">
                        1.Initial Information
                      </h4>
                      <form method="POST" action="">
                        {% csrf_token %}
                        <div class="card">
                          <div class="card-header">Form for Initialization</div>
                          <div class="card-body">
                            <div class="form-group">
                              <label for="id_source">Source</label>
                              {{ initial_form.source }}
                            </div>

                            <div class="form-group">
                              <label for="id_information_source">Information Source</label>
                              {{ initial_form.information_source }}
                            </div>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-1" name="initial_form" class="btn btn-tool"
                          data-card-widget="collapse" title="Confirm Attachment">
                          Confirm
                        </button>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
              <!--End of Information Card -->
              <!--Card for Subject form Information-->
              <div class="card">
                <!--Start Card body from Initial-->
                <div class="card-body">
                  <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{% endif %}" id="review"
                    role="tabpanel" aria-labelledby="review-tab">
                    <div>
                      <h4 class="text-mute">2.Subject Form</h4>
                      <form method="POST" action="">
                        {% csrf_token %}
                        <div class="card">
                          <div class="card-header">Subject Form</div>
                          <div class="card-body">
                            <div class="form-group">
                              <label for="id_first_name">First Name</label>
                              {{ subject_form.first_name }}
                            </div>

                            <div class="form-group">
                              <label for="id_last_name">Last Name</label>
                              {{ subject_form.last_name }}
                            </div>

                            <div class="form-group">
                              <label for="id_gender">Gender</label>
                              {{ subject_form.gender }}
                            </div>

                            <div class="form-group">
                              <label for="id_pob">Place of Birth</label>
                              {{ subject_form.pob }}
                            </div>

                            <div class="form-group">
                              <label for="id_nick_name">Nick Name</label>
                              {{ subject_form.nick_name }}
                            </div>

                            <div class="form-group">
                              <label for="id_dob">Date of Birth</label>
                              {{ subject_form.dob }}
                            </div>

                            <div class="form-group">
                              <label for="id_nationality">Nationality</label>
                              {{ subject_form.nationality }}
                            </div>

                            <div class="form-group">
                              <label for="id_identification">Identification</label>
                              {{ subject_form.identification }}
                            </div>

                            <div class="form-group">
                              <label for="id_idNumber">ID Number</label>
                              {{ subject_form.idNumber }}
                            </div>

                            <div class="form-group">
                              <label for="id_address">Home Address</label>
                              {{ subject_form.address }}
                            </div>

                            <div class="form-group">
                              <label for="id_business_name">Business Name</label>
                              {{ subject_form.business_name }}
                            </div>

                            <div class="form-group">
                              <label for="id_business_address">Business Address</label>
                              {{ subject_form.busaddress }}
                            </div>

                            <div class="form-group">
                              <label for="id_bin_tin">BIN or TIN</label>
                              {{ subject_form.bin_tin }}
                            </div>

                            <div class="form-group">
                              <label for="id_phone_num">Telephone</label>
                              {{ subject_form.phone_num }}
                            </div>

                            <div class="form-group">
                              <label for="id_description_subject">Description</label>
                              {{ subject_form.description_subject }}
                            </div>

                            <div class="form-group">
                              <label for="id_coveyance">Conveyance</label>
                              {{ subject_form.coveyance }}
                            </div>

                            <div class="form-group">
                              <label for="id_cov_description">Conveyance Description</label>
                              {{ subject_form.cov_description }}
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary mt-1" name="initial_form" class="btn btn-tool"
                        data-card-widget="collapse" title="Confirm review">
                        Confirm
                      </button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>

              <!--End of Subject form Card -->
              <!--Card for Text form Information-->
              <div class="card">
                <!--Start Card body from Initial-->
                <div class="card-body">
                  <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{% endif %}" id="review"
                    role="tabpanel" aria-labelledby="review-tab">
                    <div>
                      <h4 class="text-mute">3. Text Form</h4>
                      <form method="POST" action="">
                        {% csrf_token %}

                        <div class="form-group">
                          <label for="">Text</label>
                          {{text_form.text}}
                        </div>
                        <div class="form-group">
                          <label for="">Information Source</label>
                          {{text_form.information_source}}
                        </div>
                        <div class="form-group">
                          <label for="">Source Evaluation</label>
                          {{text_form.source_evaluation}}
                        </div>

                        <button type="submit" class="btn btn-primary mt-1 disabled" name="text_form">Add New
                          text</button>
                        <a href="{%url 'report-list'%}" class="btn btn-warning mt-1 disabled">Terminate</a>
                        <button type="button" class="btn btn-warning disabled mt-1" id="goToNextStep">
                          <i class="fa fa-plus"></i> <span class="text-uppercase">Go to Next Step</span>
                        </button>

                        {%include './text_list.html'%}
                        <button type="button" class="btn btn-primary mt-1" data-card-widget="collapse"
                          title="Confirm Attachment">
                          Confirm
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!--End of Text form Card -->

              <!--Card for Text form Information-->
              <div class="card">
                <!--Start Card body from Initial-->
                <div class="card-body">
                  <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{% endif %}" id="review"
                    role="tabpanel" aria-labelledby="review-tab">
                    <div class="card-tools">
                      <h4 class="text-mute">4.Attach Form</h4>
                      <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                          {{ file_form.path }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-1" name="file_form" class="btn btn-tool"
                          data-card-widget="collapse" title="Confirm Attachment">
                          Confirm
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--End of Text form Card -->

              <!--Card for Comment form information-->
              <div class="card">
                <!--Start Card body from comment-->
                <div class="card-body">
                  <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{% endif %}" id="review"
                    role="tabpanel" aria-labelledby="review-tab">
                    <div>
                      <h4 class="text-mute">5.Comment Form</h4>
                      <form method="POST" action="">
                        {% csrf_token %}
                        {%include './comments_review.html'%}
                        <button class="btn btn-primary" class="btn btn-tool" data-card-widget="collapse"
                          title="Confirm Attachment">Confirm</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--End of Subject form Card -->

              <!--Card for Comment form information-->
              <div class="card">
                <!--Start Card body from comment-->
                <div class="card-body">
                  <div class="tab-pane fade {% if request.GET.tab == 'review' %}show active{% endif %}" id="review"
                    role="tabpanel" aria-labelledby="review-tab">
                    <div class="card">
                      <div class="card-header">
                        <h6 class="text-mute">Confirm To finalize all the process</h6>
                      </div>
                      <div class="card-body">
                        <form method="POST" action="">
                          {% csrf_token %}
                          <div class="custom-control custom-switch">
                            {{ form.confirm }}
                            <label class="custom-control-label" for="customSwitch1">Confirm</label>
                          </div>
                          <button type="submit" class="btn btn-primary" id="submitButton" disabled>Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End of Subject form Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  //funsaun atu retrieve media file husi database link.

  function fetchHotlineDetails(subjectId) {
    $.ajax({
      url: "/call-details/" + subjectId,
      method: "GET",
      success: function (data) {
        console.log("data Log", data);
        console.log("data path", data.file);
        const mediaPath = "/" + data.file;
        $("#idHotline").text(data.id)
        $("#audioSource").attr("src", mediaPath);
        $("#audioSource").attr("type", "audio/mpeg");
        $("#path").text(data.file);
        $("#music")[0].load();
      },
      error: function (error) {
        console.error("There was an error fetching the details.", error);
      }
    });
  }

  // this query for enable and disable review button
  // Ensure the DOM is fully loaded before running the script
  document.addEventListener("DOMContentLoaded", function () {
    // Get the switch and button elements
    const customSwitch = document.getElementById('customSwitch1');
    const submitButton = document.getElementById('submitButton');

    // Log the checkbox to ensure it is found
    console.log(customSwitch);

    if (customSwitch) {
      // Add an event listener to the switch
      customSwitch.addEventListener('change', function () {
        // Log checkbox state to debug
        console.log("Checkbox checked: ", customSwitch.checked);

        // Enable the submit button if the switch is checked, disable if unchecked
        submitButton.disabled = !customSwitch.checked;
      });

      // Initialize button state based on checkbox status
      submitButton.disabled = !customSwitch.checked;
    } else {
      console.error('The checkbox with ID "customSwitch1" was not found.');
    }
  });

  //This query is for hide and show text box in the intial form 
  $(document).ready(function () {
    // Hide the textarea initially
    $("#id_information_source").hide();

    // Show/hide the textarea based on the selected option
    $("#id_source").change(function () {
      if ($(this).val() === "Information other") {
        $("#id_information_source").show();
      } else {
        $("#id_information_source").hide();
      }
    });

    // Trigger the change event on page load to handle the default selected option
    $("#id_source").trigger("change");
  });
</script>
{% endblock %}