{% extends 'dashproject/base/layout.html' %} {% load static %} {% block content%}
{% load i18n %}
<div class="container-fluid">

  <!-- start page title -->
  <div class="row content-home mt-1 mb-1">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0">
          {% trans 'Report List'%}
          <span class="badge badge-primary">{{ report_count }}</span>
        </h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">{% trans 'Reporting'%}</a>
            </li>
            <li class="breadcrumb-item active">{% trans 'Reporting Lists'%}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row content-home">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="mb-3">
                {% if 'administrator' in user_group or 'staff' in user_group %}
                <a href="{% url 'new-report' %}" class="btn btn-success pl-1">
                  <i class="fa fa-file m-1" aria-hidden="true"></i>{% trans 'Add New Report' %}
                </a>
                {% endif %}

              </div>
            </div>

            {% comment %} <div class="col-md-6">
              <div class="form-inline float-md-right mb-3">
                <div class="search-box ml-2">
                  <div class="position-relative">
                    <input type="text" class="form-control rounded bg-light border-0" placeholder="Search..." />
                    <i class="mdi mdi-magnify search-icon"></i>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
          <!-- end row -->
          <div class="table-responsive mb-4">
            <table class="table table-centered table-nowrap table-check mb-0" id="example1">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">{% trans 'Report Name'%}</th>
                  <th scope="col">{% trans 'Report Source'%}</th>
                  <th scope="col">{% trans 'Report Created'%}</th>
                  <th scope="col">{% trans 'Status'%}</th>
                  <th scope="col">{% trans 'User'%}</th>

                  <th scope="col">{% trans 'Edit'%}</th>
                </tr>
              </thead>
              <tbody>

                {%for report in reports %}

                <tr>
                  <td>{{report.id}}</td>
                  <td>{{report.agency}}</td>
                  <td>{{ report.initial.get_source_display}}</td>
                  <td>{{ report.created_at|date:"d-m-Y" }}</td>
                  <td>{{report.get_status_display}}</td>
                  <td>{{report.user.first_name}} {{report.user.last_name}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-transparent dropdown-toggle text-uppercase"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Actions'%}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if report.status == "Incomplete" %}

                        <a href="{%url 'edit_report' report.id%}" class="btn">
                          {% trans 'Edit'%}</a>

                        {% elif report.status == "Completed" %}
                        <!-- Always show these buttons -->
                        <button type="button" class="dropdown-item text-uppercase comment-btn" data-id="{{ report.id }}"
                          data-url="{%url 'comment_report' report.id%}?tab=comments">
                          {% trans 'Comment'%}
                        </button>
                        <button type="button" class="dropdown-item text-uppercase comment-btn" data-id="{{ report.id }}"
                          data-url="{%url 'review_report' report.id%}?tab=review">
                          {% trans 'Review'%}
                        </button>

                        {%else%}
                        <button type="button" class="dropdown-item text-uppercase archived-btn"
                          data-id="{{ report.id }}">
                          {% trans 'Request Dissemination'%}
                        </button>
                        <button type="button" class="dropdown-item text-uppercase disseminate-btn"
                          data-id="{{ report.id }}">
                          {% trans 'Archived' %}
                        </button>
                        {% endif %}

                      </div>
                    </div>
                  </td>
                </tr>


                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="pagination">
      <span class="step-links">
        {% if report.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ report.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ report.number }} of {{ report.paginator.num_pages }}.
        </span>

        {% if report.has_next %}
        <a href="?page={{ report.next_page_number }}">next</a>
        <a href="?page={{ report.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div> {% endcomment %}
  </div>
</div>
<script>
  // Select all buttons with the class 'comment-btn'
  document.querySelectorAll(".comment-btn").forEach(function (button) {
    button.addEventListener("click", function () {
      // Get the URL from the data-url attribute
      const url = this.getAttribute("data-url");
      // Redirect to the URL
      window.location.href = url;
    });
  });

  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{%endblock%}