<div class="container">
  <div class="row">
    <div class="bg bg-primary"> 
      <div class="row">
        <div class="col-md-9">
          <p>
            Carefully review each section of the record below and confirm the details.
            You must to confirm all the sections in order to complete the record.
          </p>
        </div>
        <div class="col-md-3">
          <button class="bg bg-dark">Analyst Comment(s)</button>
        </div>
      </div>  
    </div>
   </div>
   <div class="row">
    <p>Initial</p>
  
   </div>
</div>