<form method="POST" action="">
                  {% csrf_token %}
                  <div class="card"></div>
                  <div class="card-header">Subject Form</div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="">First Name</label>
                      {{ subject_form.first_name}}
                    </div>

                    <div class="form-group">
                      <label for="id_information_source">Last Name</label>
                      {{ subject_form.last_name}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Gender</label>
                      {{ subject_form.gender}}
                    </div>

                    <div class="form-group">
                      <label for="id_information_source">Place of birth</label>
                      {{ subject_form.pob}}
                    </div>

                    <div class="form-group">
                      <label for="id_information_source">Nick Name</label>
                      {{ subject_form.last_name}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Date of birth</label>
                      {{ subject_form.dob}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Nationality</label>
                      {{ subject_form.nationality}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Identification</label>
                      {{ subject_form.last_name}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">ID Number</label>
                      {{ subject_form.idNumber}}
                    </div>

                    <div class="form-group">
                      <label for="id_information_source">Home Address</label>
                      {{ subject_form.address}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Bussiness Name</label>
                      {{ subject_form.business_name}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Bussiness Address</label>
                      {{ subject_form.busaddress}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Bin or TIN</label>
                      {{ subject_form.bin_tin}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Telephone</label>
                      {{ subject_form.phone_num}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Description </label>
                      {{ subject_form.description_subject}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Conveyance</label>
                      {{ subject_form.coveyance}}
                    </div>
                    <div class="form-group">
                      <label for="id_information_source">Conveyance Description</label>
                      {{ subject_form.cov_description}}
                    </div>

                  </div>
                  <div class="card-footer">
                    <!-- {{ subject_form }} -->
                    <button type="submit" class="btn btn-primary mt-1" name="subject_form">
                      Submit Subject
                    </button>

                    <a href="{%url 'report-list'%}" class="btn btn-warning mt-1">Save</a>
</form>