{% load i18n %}
{% load widget_tweaks %}
{% include 'users/base_css.html' %}
{% block content %}
<div class="container mt-5">
    {% if validlink %}
    <div class="card">
        <div class="card-header">
            <h4>{% trans "Change Password" %}</h4>
        </div>
        <div class="card-body">
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form method="post"> {% csrf_token %}
                <fieldset class="form-group">
                    <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="form-row mb-3">
                        <div class="col">
                            {{ form.new_password1.errors }}
                            <div class="form-group">
                                <label for="id_new_password1">{% trans 'New password:' %}</label>
                                {{ form.new_password1|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            {{ form.new_password2.errors }}
                            <div class="form-group">
                                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                                {{ form.new_password2|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div>
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-info">

                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger mt-3">
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a  new password reset." %}</p>   
    </div>
    <a href="{%url 'login' %}" class="btn btn-info"> {% trans 'Back to login'%}</a>
    {% endif %}
</div>
{% endblock %}