{% load static %}
{% load i18n %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light bg-light">
  {% include 'dashproject/base/messaging.html' %}

  <!-- Left navbar links -->
  <ul class="navbar-nav">
    {% comment %}
    <li class="nav-item">
      <!--data-widget ="pushmenu"-->
      <a class="nav-link" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    {% endcomment %}
    {% comment %}
    <li class="nav-item d-none d-sm-inline-block disabled">
      <a href="index3.html" class="nav-link disabled text-bold">CID 1.1.0</a>
    </li>
    {% endcomment %}
  </ul>

  <!-- SEARCH FORM -->
  {% comment %}
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  {% endcomment %}

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <span class="text-mute bg-transparent">{% trans 'Hello' %},
          {{ user.first_name|upper }} {{ user.last_name|upper}}</span>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          {% trans 'Profile'%}
        </a>
        <a class="dropdown-item" href="{% url 'change' id%}">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          {% trans 'Change password' %}
        </a>
        <a class="dropdown-item" href="#">
          <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
          {% trans 'Activity Log'%}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          {% trans 'Logout'%}
        </a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i
          class="flag-icon flag-icon-{% if request.LANGUAGE_CODE == 'tl' %}tl{% elif request.LANGUAGE_CODE == 'pt' %}pt{% elif request.LANGUAGE_CODE == 'id' %}id{% else %}us{% endif %}"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right p-0">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}

          <!-- Link for Tetum (Timor-Leste) -->
          <button class="dropdown-item {% if request.LANGUAGE_CODE == 'tl' %}active{% endif %}" type="submit"
            name="language" value="tl">
            <i class="flag-icon flag-icon-tl mr-2"></i> Tetum
          </button>

          <!-- Link for Portuguese (Portugal) -->
          <button class="dropdown-item {% if request.LANGUAGE_CODE == 'pt' %}active{% endif %}" type="submit"
            name="language" value="pt">
            <i class="flag-icon flag-icon-pt mr-2"></i> Portugues
          </button>

          <!-- Link for English -->
          <button class="dropdown-item {% if request.LANGUAGE_CODE == 'en' %}active{% endif %}" type="submit"
            name="language" value="en">
            <i class="flag-icon flag-icon-us mr-2"></i> English
          </button>

          <!-- Link for Indonesian -->
          <button class="dropdown-item {% if request.LANGUAGE_CODE == 'id' %}active{% endif %}" type="submit"
            name="language" value="id">
            <i class="flag-icon flag-icon-id mr-2"></i> Indonesia
          </button>

          <!-- Pass the current URL path as a hidden input -->
          <input type="hidden" name="next" value="{{ request.get_full_path }}">
        </form>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->