{% load static %}
{% load i18n %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'records' %}" class="brand-link text-center">
    <img class="rounded-circle" src="{% static 'dashproject/admin-lte/dist/img/aa.png'%}" alt="AdminLTE Logo" />
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    {% comment %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dashproject/admin-lte/dist/img/user2-160x160.jpg'%}" class="img-circle elevation-2"
          alt="User Image" />
      </div>
      <div class="info">
        <a href="#" class="d-block">Januario Costa</a>
      </div>
    </div>
    {% endcomment %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if 'administrator' in user_group %}
        <!-- Administrator Menu -->
        <li class="nav-item">
          <a href="{% url 'records' %}" class="nav-link">
            <i class="nav-icon fas fa-phone-volume"></i>
            <p>
              {% trans 'Call & Forms' %}
              <span class="right badge badge-danger">{{records_count}}</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'report-list' %}" class="nav-link">
            <i class="nav-icon fas fa-address-book"></i>
            <!-- <p>{% trans 'Report' %}<i class="right fas fa-angle-left"></i></p> -->
            <p><span class="right badge badge-danger">{{report_count}}</span>{% trans 'Report List' %}</p>
          </a>
          <!-- <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'report-list' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p><span class="right badge badge-danger">{{report_count}}</span>{% trans 'Report List' %}</p>
              </a>
            </li>
          </ul> -->
        </li>
        <!-- <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-address-book"></i>
            <p>{% trans 'Report' %}<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'report-list' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p><span class="right badge badge-danger">{{report_count}}</span>{% trans 'Report List' %}</p>
              </a>
            </li>
          </ul>
        </li> -->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-search"></i>
            <p>{% trans 'Search' %}</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              {% trans 'User Managements' %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'user-list' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>{% trans 'Users List' %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'agency-list' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>{% trans 'Agency List' %}</p>
              </a>
            </li>
          </ul>
        </li>

        {% elif 'oga' in user_group or 'staff' in user_group %}
        <!-- Oga Menu -->
        <li class="nav-item">
          <a href="{% url 'records' %}" class="nav-link">
            <i class="nav-icon fas fa-phone-volume"></i>
            <p>
              Call & Reports
              <span class="right badge badge-danger">{{records_count}}</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'report-list' %}" class="nav-link">
            <i class="nav-icon fas fa-address-book"></i>
            <!-- <p>{% trans 'Report' %}<i class="right fas fa-angle-left"></i></p> -->
            <p><span class="right badge badge-danger">{{report_count}}</span>{% trans 'Report List' %}</p>
          </a>
          <!-- <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'report-list' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p><span class="right badge badge-danger">{{report_count}}</span>{% trans 'Report List' %}</p>
              </a>
            </li>
          </ul> -->
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-search"></i>
            <p>{% trans 'Search' %}</p>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>